@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  box-sizing: border-box; 
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background: whitesmoke;
}

h1 {
  text-align: center;
  letter-spacing: 0.25rem;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}